{
  "extends": ["standard"],
  "globals": {
    "__DEV__": false,
    "requestAnimationFrame": true,
    "fetch": true
  },
  "rules": {
    "space-before-function-paren": [0, "always"],
    "no-useless-escape": [0, { "properties": "never" }],
    "camelcase": [0, { "properties": "never" }]
  }
}
